<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header container-fluid">
    <h1 class="text-center team" style="padding: 5px 8px ;">Team RealDeadShot</h1>
    <h2 class="text-center team" style="padding: 5px 8px ;">BGMI</h2>
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-3 col-12 ">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="images/Viku.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Name-Vikrant<br>Ign:-RDS々Knock<br>Character id:-516185082</p>
                                <a href="https://www.instagram.com/i_am_axel_vikrant/?hl=en">Instagram</a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-3 col-12 ">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="images/Dom .jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Name-Rishikesh<br>Ign:-RDS々Domnick<br>Character id:-5268500300</p>
                                <a href="https://www.instagram.com/rds_dominick/?hl=en">Instagram</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-12 ">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="images/Manshu.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Name-Prashant<br>Ign:-RDS々Finish<br>Character id:-5113280533</p>
                                <a href="https://www.instagram.com/manshu854191/?hl=en">Instagram</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-12 ">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="images/Dam.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Name-Rohit<br>RDS々Damage<br>Character id:-5165757414</p>
                                <a href="https://www.instagram.com/rds_damage/?hl=en">Instagram</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

  

    <!-- footer -->

    <footer>
        <p>
            created with ❤ by Vikrant
        </p>
    </footer>
</body>

</html>