<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header container-fluid">
    <h1 class="text-center" style="padding: 5px 8px ;">Team RealDeadShot</h1>
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    {{!--  --}}
                    <div class="col-md-3 col-12 ">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="images/Viku.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">RDS々Knock</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-12 ">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="images/Dom .jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">RDS々Domnick</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-12 ">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="images/Manshu.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">RDS々Finish</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-12 ">

                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="images/Dam.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">RDS々Damage</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

  

    <!-- footer -->

    <footer>
        <p>
            created with ❤ by Vikrant
        </p>
    </footer>
</body>

</html>